.HM-3-col-grid {
  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8px;

}

.HM-3-row-grid {
  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-rows: 1fr 1fr 1fr;
}

.HM-2-col-grid {
  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;

}

.HM-2-row-grid {
  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-rows: 1fr 1fr;
}
